### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [47]:
#Find number of unique users using SN column
unique_players = purchase_df["SN"].unique()
#Count the unique users using the length of the list of unique users
player_amt = len(unique_players)

#Create a dictionary
total_player_dict = {"Total Players": player_amt}
#Pass the dictionary into a dataframe
total_player_df = pd.DataFrame([total_player_dict])
#Print the dataframe
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [48]:
#Find number of unique items using Item ID column
unique_items = purchase_df["Item ID"].unique()
#Count the unique items using the length of the list of unique users
unique_item_total = len(unique_items)
unique_item_total

179

In [49]:
avg_price = round(purchase_df["Price"].mean(), 2)
avg_price

3.05

In [50]:
total_purchases = len(purchase_df["Purchase ID"])
total_purchases

780

In [51]:
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [52]:
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [unique_item_total], 
                                    "Average Price": [avg_price], 
                                    "Number of Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue]})
purchase_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [53]:
#Total male players
males = purchase_df.loc[purchase_df["Gender"] == "Male", ["Gender", "SN"]]
unique_males = males["SN"].unique()
unique_male_total = len(unique_males)

In [54]:
#Total female players
females = purchase_df.loc[purchase_df["Gender"] == "Female", ["Gender", "SN"]]
unique_females = females["SN"].unique()
unique_female_total = len(unique_females)

In [55]:
#Total other/nondisclosed players
nd = purchase_df.loc[purchase_df["Gender"] == "Other / Non-Disclosed", ["Gender", "SN"]]
unique_nd = nd["SN"].unique()
unique_nd_total = len(unique_nd)

In [56]:
#Total all unique players to find percentages
total_unique_players = (unique_male_total + unique_female_total + unique_nd_total)

In [57]:
#Unique male percentage
male_player_percent = unique_male_total / total_unique_players * 100
male_percent = round(male_player_percent, 2)

In [58]:
#Unique female percentage
female_player_percent = unique_female_total / total_unique_players * 100
female_percent = round(female_player_percent, 2)

In [59]:
#Unique other/non-disclosed percentage
nd_player_percent = unique_nd_total / total_unique_players * 100
nd_percent = round(nd_player_percent, 2)

In [60]:
gender_data = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
               "Total Count": [unique_male_total, unique_female_total, unique_nd_total],
               "Percentage of Players": [male_percent, female_percent, nd_percent]}
gender_df = pd.DataFrame(gender_data)
gender_df

                  Gender  Total Count  Percentage of Players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

In [61]:
gender_final_df = gender_df.set_index("Gender")
gender_final_df

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
#Start with initial data again
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [63]:
#Find Purchase Count by Gender
gender_count_df = purchase_df.groupby("Gender")["Price"].count()
gender_purch_count = pd.DataFrame(gender_count_df)
# gender_purch_count

In [64]:
#Assign variables to each gender/price pair
#female
female_purch_count = gender_purch_count.iloc[0, 0]
female_purch_count
# male
male_purch_count = gender_purch_count.iloc[1, 0]
male_purch_count
# other/non-disclosed
nd_purch_count = gender_purch_count.iloc[2, 0]
nd_purch_count

15

In [65]:
#Find Average Purchase Price by Gender
gender_price_df = purchase_df.groupby("Gender")["Price"].mean().round(2)
gender_avg_purch = pd.DataFrame(gender_price_df)
# gender_avg_purch

In [66]:
#Assign variables to each gender/average purchase price pair
#female
female_purch_price = gender_avg_purch.iloc[0, 0]
female_purch_price
# male
male_purch_price = gender_avg_purch.iloc[1, 0]
male_purch_price
# other/non-disclosed
nd_purch_price = gender_avg_purch.iloc[2, 0]
nd_purch_price

3.35

In [67]:
#Find Total Purchase Value by Gender

#Set index to Gender
gender_person_purch = purchase_df.set_index("Gender")
#Make into a dataframe
gender_person_purch_df = pd.DataFrame(gender_person_purch)
#Print to check results
# gender_person_purch_df

In [68]:
#Grab only the SN and Price categories
gpp_df_SN = gender_person_purch_df[["SN", "Price"]]
#Print to check results
# gpp_df_SN

In [69]:
# Grab only males from previous dataframe
male_purch_table = gpp_df_SN.loc["Male", :]
# Print to check the results
# male_purch_table

In [70]:
#Find sum of the price column for males
male_total_purch = male_purch_table["Price"].sum()
male_total_purch

1967.64

In [71]:
# Grab only females from previous dataframe
female_purch_table = gpp_df_SN.loc["Female", :]
# Print to check the results
# female_purch_table

In [72]:
#Find sum of the price column for females
female_total_purch = female_purch_table["Price"].sum()
female_total_purch

361.94

In [73]:
# Grab only other/non-discloseds from previous dataframe
nd_purch_table = gpp_df_SN.loc["Other / Non-Disclosed", :]
# Print to check the results
# nd_purch_table

In [74]:
#Find sum of the price column for other/nds
nd_total_purch = nd_purch_table["Price"].sum()
nd_total_purch

50.19

In [75]:
#Find Average Purchase Total Per Person by Gender

# Set the male purchase table index to SN
male_purch = male_purch_table.set_index("SN")
# Turn the result into a dataframe
male_purch_df = pd.DataFrame(male_purch)
# Group by the user screen name
male_purch_grp = male_purch_df.groupby(["SN"])
# Find the sum of each screen name's purchases & round to two decimals
male_purch_sum = male_purch_grp.sum().round(2)
# Print to check the results
# print(male_purch_sum)

In [76]:
#Find average of the purchase totals per person
male_pp_avg = male_purch_sum["Price"].mean().round(2)
#Print to check
male_pp_avg

4.07

In [77]:
# Set the female purchase table index to SN
female_purch = female_purch_table.set_index("SN")
# Turn the result into a dataframe
female_purch_df = pd.DataFrame(female_purch)
# Group by the user screen name
female_purch_grp = female_purch_df.groupby(["SN"])
# Find the sum of each screen name's purchases & round to two decimals
female_purch_sum = female_purch_grp.sum().round(2)
# Print to check results
# print(female_purch_sum)

In [78]:
#Find average of the purchase totals per person
female_pp_avg = female_purch_sum["Price"].mean().round(2)
#Print to check
female_pp_avg

4.47

In [79]:
# Set the nd purchase table index to SN
nd_purch = nd_purch_table.set_index("SN")
# Turn the result into a dataframe
nd_purch_df = pd.DataFrame(nd_purch)
# Group by the user screen name
nd_purch_grp = nd_purch_df.groupby(["SN"])
# Find the sum of each screen name's purchases & round to two decimals
nd_purch_sum = nd_purch_grp.sum().round(2)
# Print to check results
# print(nd_purch_mean)

In [80]:
#Find average of the purchase totals per person
nd_pp_avg = nd_purch_sum["Price"].mean().round(2)
#Print to check
nd_pp_avg

4.56

In [81]:
gender_data = {"Gender": ["Male", "Female", "Other / Non-Disclosed"],
               "Purchase Count": [male_purch_count, female_purch_count, nd_purch_count],
               "Average Purchase Price": [male_purch_price, female_purch_price, nd_purch_price],
               "Total Purchase Value": [male_total_purch, female_total_purch, nd_total_purch],
              "Avg Total Purchase Per Person": [male_pp_avg, female_pp_avg, nd_pp_avg]}
gender_df = pd.DataFrame(gender_data)
gender_df.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Male,652,3.02,1967.64,4.07
Female,113,3.20,361.94,4.47
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [90]:
#Start again with initial data
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [91]:
#Create bins to split by age
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
#Name the bins
age_bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [92]:
#Changing the dataframe itself, so make a copy to work on instead
purchase_copy = purchase_df.copy()

In [93]:
purchase_copy["Age Range"] = pd.cut(purchase_copy["Age"], bins=age_bins, labels=age_bin_names, include_lowest=True)
purchase_copy.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [94]:
age_range = purchase_copy.groupby("Age Range")

unique_SN_age = age_range["SN"].unique()

uni_SN_age = pd.DataFrame(unique_SN_age)

uni_SN_age

                                                          SN
Age Range
<10        [Eusri44, Haillyrgue51, Seuthep89, Heudai45, T...
10-14      [Lirtossa84, Aeralria27, Reulae52, Zhisrisu83,...
15-19      [Idai61, Sondim73, Aidaillodeu39, Yaliru88, Ji...
20-24      [Lisim78, Ithergue48, Chamassasya86, Iskosia90...
25-29      [Lisirra87, Yasrisu92, Phaelap26, Chamirraya83...
30-34      [Chamalo71, Siala43, Idaisuir85, Iaralrgue74, ...
35-39      [Itheria73, Chanosian48, Saesrideu94, Siarithr...
40+        [Lisovynya38, Eyrian71, Jiskjask85, Isursuir31...

In [95]:
#Give a variable to each row for count
under_ten = len(uni_SN_age.iloc[0,0])
ten_fourtn = len(uni_SN_age.iloc[1,0])
fiftn_ninetn = len(uni_SN_age.iloc[2,0])
twenty_twfour = len(uni_SN_age.iloc[3,0])
twfive_twnine = len(uni_SN_age.iloc[4,0])
thirty_thfour = len(uni_SN_age.iloc[5,0])
thfive_thnine = len(uni_SN_age.iloc[6,0])
forty_plus = len(uni_SN_age.iloc[7,0])

In [96]:
under_ten_pct = round((under_ten / player_amt * 100), 2)
ten_fourtn_pct = round((ten_fourtn / player_amt * 100), 2)
fiftn_ninetn_pct = round((fiftn_ninetn / player_amt * 100), 2)
twenty_twfour_pct = round((twenty_twfour / player_amt * 100), 2)
twfive_twnine_pct = round((twfive_twnine / player_amt * 100), 2)
thirty_thfour_pct = round((thirty_thfour / player_amt * 100), 2)
thfive_thnine_pct = round((thfive_thnine / player_amt * 100), 2)
forty_plus_pct = round((forty_plus / player_amt * 100), 2)

In [97]:
age_data = {"Age Range": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
               "Total Count": [under_ten, ten_fourtn, fiftn_ninetn, twenty_twfour, twfive_twnine, thirty_thfour, thfive_thnine, forty_plus],
              "Percentage of Players": [under_ten_pct, ten_fourtn_pct, fiftn_ninetn_pct, twenty_twfour_pct, twfive_twnine_pct, thirty_thfour_pct, thfive_thnine_pct, forty_plus_pct]}
age_df = pd.DataFrame(age_data)
age_df.set_index("Age Range")

           Total Count  Percentage of Players
Age Range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [107]:
#Already binned the purchase_df by age, grab age_range variable from above
#Count number of purchases in each age range
age_range_count = age_range.count()
age_range_count

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Range
<10                 23   23   23      23       23         23     23
10-14               28   28   28      28       28         28     28
15-19              136  136  136     136      136        136    136
20-24              365  365  365     365      365        365    365
25-29              101  101  101     101      101        101    101
30-34               73   73   73      73       73         73     73
35-39               41   41   41      41       41         41     41
40+                 13   13   13      13       13         13     13

In [106]:
#Give variable to each age-range/purchase-count value
under_ten = age_range_count.iloc[0,0]
ten_fourtn = age_range_count.iloc[1,0]
fiftn_ninetn = age_range_count.iloc[2,0]
twenty_twfour = age_range_count.iloc[3,0]
twfive_twnine = age_range_count.iloc[4,0]
thirty_thfour = age_range_count.iloc[5,0]
thfive_thnine = age_range_count.iloc[6,0]
forty_plus = age_range_count.iloc[7,0]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80